/* margin */
//bottom
@for $i from 0 through 20{
    .mb-#{$i}{
        margin-bottom: $i * $space !important;
    }
}
.mb-\.5{
    margin-bottom: 4px !important;
}
//left
.ml-3{
    margin-left: 24px !important;
}
.ml-4{
    margin-left: 32px !important;
}
//right
.mr-6{
    margin-right: 48px !important;
}
.mr-3{
    margin-right: 24px !important;
}
.mr-2{
    margin-right: 16px !important;
}
.mr-1{
    margin-right: 8px !important;
}
//top
.mt-4{
    margin-top: 32px !important;
}
// left and right
.mx-n1{
    margin-left: -8px;
    margin-right: -8px;
}
/* margin end */
/* padding */
.p-4{
    padding: 32px !important;
}
// top and bottom
.py-4{
    padding-top: 32px !important;
    padding-bottom: 32px !important;
}
.py-2{
    padding-top: 16px !important;
    padding-bottom: 16px !important;
}
.py-1\.5{
    padding-top: 12px !important;
    padding-bottom: 12px !important;
}
// left and right
.px-3{
    padding-left: 24px !important;
    padding-right: 24px !important;
}
.px-4{
    padding-left: 32px !important;
    padding-right: 32px !important;
}
// top
.pt-2{
    padding-top: 16px !important;
}
//bottom
.pb-3{
    padding-bottom: 24px !important;
}
/* padding end */
/* color */
.text-primary{
    color: #198754 !important;
}
.text-gary400{
    color: #CED4DA !important;
}
.bg-primary{
    background-color: #f8f9fa !important;
}
.border-gray400{
    border-color: #CED4DA !important;
}
.border-bottom-gray400{
    border-bottom: 1px solid #CED4DA !important;
}
/* color end */
/* text */
.text-indent{
    text-indent: 1em;
}
.text-mark{
    color: #198754
}
//font size
.fs-sm{
    font-size: $font-size-sm;
}
.fs-xs{
    font-size: $font-size-xs;
}
/* text end */
/* sizing */
.w-33{
    width: 33%;
}
.w-65{
    width: 65%;
}
.w-85{
    width: 85%;
}
/* sizing end */
/* other */
.cursor-pointer{
    cursor: pointer;
}
/* other end */